.Left {
  /* background-color: aqua; */
  width: 50%;
  height: 50%;
  margin-left: 150px;
  margin-top: 200px;
}

.LeftInfo h1,
p {
  color: white;
}

.Right {
  /* background-color: brown; */
  width: 50%;
  height: 50%;
  margin-left: 150px;
  margin-top: 250px;
  /* margin-right: 100px; */
}

.Right .Login {
  /* margin-top: 10px; */
  margin-left: 70px;
  width: 50%;
  background-color: #212529 !important;
  border-radius: 8px;
  color: white;
}

.Right h1,
Form {
  padding: 20px;
}

.app {
  display: flex;
  flex-direction: row;
}

.Btn {
  margin-top: 50px;
}

.Btn a {
  text-decoration: none;
  color: white;
}

.Text {
  padding-top: 30px;
}
